In [1]:
import pandas as pd

In [2]:
df =pd.read_csv("loan_data.csv.csv")

In [3]:
df.head()

,credit_policy,purpose,int_rate,installment,log.annual.inc,dti,fico,days_with_cr_line,revol_bal,revol_util,inq_ast_6mths,delinq_2yrs,pub_rec,not_fully_paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In [4]:
 question1loan=df[df["purpose"]=="debt_consolidation"]["int_rate"]
print (question1loan)

0       0.1189
2       0.1357
3       0.1008
6       0.1496
9       0.1221
         ...
9562    0.1348
9563    0.1099
9572    0.1565
9575    0.1071
9577    0.1392
Name: int_rate, Length: 3957, dtype: float64

In [5]:
question1loan.to_csv("question1loan.csv")

In [6]:
question2loan=df[["purpose","inq_ast_6mths"]]

In [7]:
question2loan.to_csv("question2loan.csv")

In [8]:
question3loan=df["purpose"].value_counts()

In [9]:
question3loan.to_csv("question3loan.csv")

In [10]:
question4loan=df["inq_ast_6mths"].value_counts()

In [11]:
question4loan.to_csv("question4loan.csv")

In [12]:
question5loan=df[df["purpose"]=="credit_card"]["inq_ast_6mths"]

In [13]:
question5loan.to_csv("question5loan.csv")

In [14]:
question6loan=df[df["purpose"]=="home_improvement"]["installment"]

In [15]:
question6loan.to_csv("question6loan.csv")

In [16]:
question8loan=df[df["purpose"]=="credit_card"]["revol_util"]

In [17]:
question8loan.to_csv("question8loan.csv")

In [18]:
question9loan=df[df["purpose"]=="credit_card"]["revol_bal"]

In [19]:
question9loan.to_csv("question9loan.csv")

In [20]:
question10loan=df[df["purpose"]=="credit_card"][["fico","inq_ast_6mths"]]

In [21]:
question10loan.to_csv("question10loan.csv")

In [22]:
question11loan=df[df["purpose"]=="debt_consolidation"]["dti"]

In [23]:
question11loan.to_csv("question11loan.csv")

In [24]:
question12loan=df[df["purpose"]=="credit_card"]["revol_util"]

In [25]:
question12loan.to_csv("question12loan.csv")

In [26]:
question13loan=df[["purpose","revol_util" , "dti"]]

In [27]:
question13loan.to_csv("question13loan.csv")

In [28]:
question14loan=df[df["purpose"]=="credit_card"]["revol_bal"]

In [29]:
question14loan.to_csv("question14loan.csv")

In [30]:
question15loan=df["delinq_2yrs"].value_counts()

In [31]:
question15loan.to_csv("question15loan.csv")

In [33]:
df["installment"].median()

268.95

In [38]:
data = {
  "installment":[268.95],
}

#load data into a DataFrame object:
qustion16loan = pd.DataFrame(data)

print(qustion16loan)

   installment
0       268.95

In [39]:
qustion16loan.to_csv("qustion16loan.csv")

In [34]:
question17loan=df[df["purpose"]=="debt_consolidation"]["fico"]

In [35]:
question17loan.to_csv("question17loan.csv")

In [36]:
df["log.annual.inc"].median()

10.92888357

In [40]:
data = {
  "log.annual.inc":[10.92888357],
}

#load data into a DataFrame object:
question7loan = pd.DataFrame(data)

print(question7loan)

   log.annual.inc
0       10.928884

In [41]:
question7loan.to_csv("question7loan.csv")